:root{
    --Pr-Lavender: #7456FF;
    --Sr-Lavender: #8368FF;
    --Qt-Lavender: #C5B9FF;
    --Qn-Lavender: #E0DAFF;
    --Ln-Lavender: #7456FF;
    --As-Lavender: #F5F2FF;
    --Pr-Grey: #707070;
    --Sr-Grey: #999999;
    --White: #fff;
    --Pr-Black: #000;
}