:root{
    --Pr-Lavender: #7456FF;
    --Sr-Lavender: #8368FF;
    --Qt-Lavender: #C5B9FF;
    --Qn-Lavender: #E0DAFF;
    --Ln-Lavender: #7456FF;
    --As-Lavender: #F5F2FF;
    --Pr-Grey: #707070;
    --Sr-Grey: #999999;
    --White: #fff;
    --Pr-Black: #000;
    --Sr-Black: #0F0F0F;
}

/* Global */

*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    color: #fff;
}

.container{
    margin: 0 auto;
    width: 85%;
    overflow: hidden;
}

body{
    background-color: var(--Pr-Black);
}

/* Header Start */

header{
    background-color: var(--Sr-Black);
    padding: 15px 0;
}

header .header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.logo{
    color: var(--White);
    font-weight: 700;
    font-size: 20px;
}

.logo span{
    color: var(--Pr-Lavender);
}

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

nav ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
}

ul li {
    margin-left: 30px;
    font-weight: 400;
}

li a{
    text-decoration: none;
    color: var(--White);
}

li a:hover{
    text-decoration: none;
    color: var(--Sr-Lavender);
}

li .active{
    color: var(--Sr-Lavender);
}

button{
    margin-left: 25px;
    padding: 10px 10px;
    background-color: transparent;
    border: 1.5px var(--Pr-Lavender) solid;
    border-radius: 5px;
}

button:hover{
    background-color: var(--White);
    transition: .4s;
}

button a {
    color: var(--Pr-Lavender);
    text-decoration: none;
    font-weight: 400;
}

button a:hover {
    text-decoration: none;
    font-weight: 500;

}

@media screen (max-width: 600px) {
    ul{
        flex-direction: column;
    }
}
/* Header Ends */

/* Hero section Start */
    .hero{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        height: 80vh;
        padding: 100px 0;
    }

    .hero-text{
        padding-right: 150px;
    }

    .header {
        line-height: 30px;
    } 

    .header small{
        font-weight: 100;
    }

    .hero-button {
        margin-left: -25px;
        margin-top: 20px;
    }

    .cv{
        font-weight: 500;
        background-color: var(--Pr-Lavender);
        color: var(--White);
    }

    .cv:hover{
        font-weight: bold;
        background-color: var(--White);
        color: var(--Pr-Lavender);
    }

    .more{
        padding: 10px 40px;
        font-weight: bold;
    }

    .more:hover{
        padding: 10px 40px;
        background-color: var(--Pr-Lavender);
        color: var(--White);
    }

    .hero-image img{
        width: 450px;
        height: 350px;
        padding-right: 100px;
        margin-top: -50px;
    }
/* Hero Section Ends */