{% extends 'base.html' %}
{% load static %}
{% block title %}Home{% endblock %}
{% block content %}
<section>
    <div class="container">
        <div class="hero-image">
            <div class="hero-text">
                <div class="header">
                    <h3>Hello Buds</h3>
                    <h1>I am <span>Peter Kimbeghi</span></h1>
                    <small>Full Stack Developer</small>
                </div>
                <div class="paragragh">
                    <p>I'm a person who has a keen interest in the design layout. I think presenting an attractive design is a matter of concern in developing a branding of products. To creates a good design,  I focus on proper composition and visual decoration details in order to make it more professional. For the time being, I’m developing the skill for acquiring the UI/UX design for dynamic application and web development.</p>
                </div>
                <div class="hero-button">
                    <a href="" class="cv"><button>Download Cv</button></a>
                    <a href="" class="more"><button>More</button></a>
                </div>
            </div>
            <div class="hero-image">
                <img src="{% static 'temp.jpg' %}" alt="">
            </div>
        </div>
    </div>
</section>
{% endblock %}